body {
    padding-top: 70px;
    background: #414141;
    background-image: url("img/bedroom.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: multiply;
    color: #6BED8D;
    font-family: monospace;
}

#theStory {
    height: 70vh;
    white-space: pre-wrap;
}

#myLink {
    color: orange;
}

#myLink:hover {
    color: orangered;
}

#userAction {
    font-family: monospace;
    background-color: #555555;
    color: #6BED8D;
    border: 1px solid #6BED8D;
}

#userButton {
    font-family: monospace;
    background-color: #2A2A2A;
    color: #6BED8D;
    border: none;
}

#userButton:hover {
    color: orange;
}

.caffeinated {
    color: yellow;
    font-size: 110%;
}

.supercaffeinated {
    color: red;
    font-size: 120%;
}